* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #FFC83F;
}

.card {
    width: 250px;
    height: 400px;
    /* margin: 20px 40px; */
    margin: 20px auto;
    background-color: white;
}

.product_img {
    width: 100%;
    height: 50%;
}

.product_data {
    width: 100%;
    height: 50%;
    text-align: center;
    padding: 20px 10px 10px 10px;
}

.product_img img {
    width: 100%;
    height: 100%;
}

.product_data h3 {
    color: brown;
    margin-bottom: 10px;
}

.product_data p {
    color: brown;
}

.colors {
    margin-left: 53px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.col1 {
    width: 16px;
    height: 16px;
    background-color: brown;
    border-radius: 50%;
    margin: 0 10px;
    float: left;
    
}

.col2 {
    width: 16px;
    height: 16px;
    background-color: yellow;
    border-radius: 50%;
    margin: 0 10px;
    float: left;
}

.col3 {
    width: 16px;
    height: 16px;
    background-color: green;
    border-radius: 50%;
    margin: 0 10px;
    float: left;
}

.price-data {
    clear: both;
    padding-top: 10px;
}

.price-data span {
    font-size: 30px;
    color: brown;
    margin: 10px 10px 0;
    display: inline-block;
}

.price-data button {
    background: none;
    padding: 7px 14px;
    border-radius: 10px;
    border: 2px solid brown;
    color: brown;
    font-weight: bold;
}